m4_changecom()m4_dnl
m4_define(__VER_MAJOR__, $VER_MAJOR$)m4_dnl
m4_define(__VER_MINOR__, $VER_MINOR$)m4_dnl
m4_define(__VER_PATCH__, $VER_PATCH$)m4_dnl
m4_define(__WCREV__, $WCREV$)m4_dnl
m4_define(__WCMOD__, $WCMOD$)m4_dnl
