<?xml version="1.0" encoding="utf-8"?>
<?include installer.wxi ?>
<?include plugin.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="Plugins">
      <Directory Id="arclite" Name="arclite">
        <Component Id="_7z.dll" Guid="$(var.Guid._7z.dll)" Win64="$(var.Win64)">
          <File Id="_7z.dll" KeyPath="yes" Source="$(var.SourceDir)\7z.dll" />
        </Component>
        <Component Id="arclite.dll" Guid="$(var.Guid.arclite.dll)" Win64="$(var.Win64)">
          <File Id="arclite.dll" KeyPath="yes" Source="$(var.SourceDir)\arclite.dll" />
        </Component>
        <Component Id="arclite.map" Guid="$(var.Guid.arclite.map)" Win64="$(var.Win64)">
          <File Id="arclite.map" KeyPath="yes" Source="$(var.SourceDir)\arclite.map" />
        </Component>
        <Component Id="en.hlf" Guid="$(var.Guid.en.hlf)" Win64="$(var.Win64)">
          <File Id="en.hlf" KeyPath="yes" Source="$(var.SourceDir)\en.hlf" />
        </Component>
        <Component Id="en.lng" Guid="$(var.Guid.en.lng)" Win64="$(var.Win64)">
          <File Id="en.lng" KeyPath="yes" Source="$(var.SourceDir)\en.lng" />
        </Component>
        <Component Id="ru.hlf" Guid="$(var.Guid.ru.hlf)" Win64="$(var.Win64)">
          <File Id="ru.hlf" KeyPath="yes" Source="$(var.SourceDir)\ru.hlf" />
        </Component>
        <Component Id="ru.lng" Guid="$(var.Guid.ru.lng)" Win64="$(var.Win64)">
          <File Id="ru.lng" KeyPath="yes" Source="$(var.SourceDir)\ru.lng" />
        </Component>
        <Component Id="_7z.sfx" Guid="$(var.Guid._7z.sfx)" Win64="$(var.Win64)">
          <File Id="_7z.sfx" KeyPath="yes" Source="$(var.SourceDir)\7z.sfx" />
        </Component>
        <Component Id="_7zCon.sfx" Guid="$(var.Guid._7zCon.sfx)" Win64="$(var.Win64)">
          <File Id="_7zCon.sfx" KeyPath="yes" Source="$(var.SourceDir)\7zCon.sfx" />
        </Component>
        <Component Id="_7zS2.sfx" Guid="$(var.Guid._7zS2.sfx)" Win64="$(var.Win64)">
          <File Id="_7zS2.sfx" KeyPath="yes" Source="$(var.SourceDir)\7zS2.sfx" />
        </Component>
        <Component Id="_7zS2con.sfx" Guid="$(var.Guid._7zS2con.sfx)" Win64="$(var.Win64)">
          <File Id="_7zS2con.sfx" KeyPath="yes" Source="$(var.SourceDir)\7zS2con.sfx" />
        </Component>
        <Component Id="_7zSD.sfx" Guid="$(var.Guid._7zSD.sfx)" Win64="$(var.Win64)">
          <File Id="_7zSD.sfx" KeyPath="yes" Source="$(var.SourceDir)\7zSD.sfx" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <Feature Id="Main" Level="1" Absent="disallow" AllowAdvertise="no">
      <ComponentRef Id="_7z.dll" />
      <ComponentRef Id="arclite.dll" />
      <ComponentRef Id="arclite.map" />
      <ComponentRef Id="en.hlf" />
      <ComponentRef Id="en.lng" />
      <ComponentRef Id="ru.hlf" />
      <ComponentRef Id="ru.lng" />
      <ComponentRef Id="_7z.sfx" />
      <ComponentRef Id="_7zCon.sfx" />
      <ComponentRef Id="_7zS2.sfx" />
      <ComponentRef Id="_7zS2con.sfx" />
      <ComponentRef Id="_7zSD.sfx" />
    </Feature>
  </Fragment>
</Wix>
